<?xml version="1.0" ?>
<model>
    <name>lunabotics_boulders</name>
    <version>1.0</version>
    <sdf version="1.8">model.sdf</sdf>

    <author>
        <name>Kelvin Le</name>
        <email>nguyenleminh1002@gmail.com</email>
    </author>

    <description>
        30-40 cm boulder obstacles sized and placed per section 3.1 of the
        2026 NASA International Lunabotics Championship Guidebook.
    </description>
</model>
