<?xml version="1.0" ?>
<model>
    <name>lunabotics_fiducials</name>
    <version>1.0</version>
    <sdf version="1.8">model.sdf</sdf>

    <author>
        <name>Kelvin Le</name>
        <email>nguyenleminh1002@gmail.com</email>
    </author>

    <description>
        Team-supplied ArUco markers on the 80/20 fiducial rail, placed per
        sections 4.6.7 and 5.7 of the 2026 NASA International Lunabotics
        Championship Guidebook.
    </description>
</model>
