<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="perseus_ros2_control" params="namespace:='' name prefix can_bus:='can0' hardware_plugin">
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>${hardware_plugin}</plugin>
        <param name="can_bus">${can_bus}</param>
        <!-- Enable velocity -> position integration over time for mock hardware -->
        <param name="calculate_dynamics">true</param>
      </hardware>

      <xacro:macro name="ros2_control_joint" params="name id">
        <joint name="${prefix}${name}_wheel_joint">
          <param name="id">${id}</param>
          <command_interface name="velocity"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
          <state_interface name="current"/>
          <state_interface name="temperature"/>
        </joint>
      </xacro:macro>
      <xacro:ros2_control_joint name="front_left" id="0"/>
      <xacro:ros2_control_joint name="front_right" id="1"/>
      <xacro:ros2_control_joint name="rear_left" id="2"/>
      <xacro:ros2_control_joint name="rear_right" id="3"/>
    </ros2_control>

    <xacro:property name="is_sim" value='${hardware_plugin == "gz_ros2_control/GazeboSimSystem"}' />
    <xacro:if value="${is_sim}">
      <gazebo>
        <plugin filename="libgz_ros2_control-system.so"
          name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <ros>
            <namespace>${namespace}</namespace>
            <!-- <remapping>/diff_drive_base_controller/cmd_vel:=/cmd_vel</remapping> -->
          </ros>
          <parameters>$(find perseus)/config/perseus_controllers.yaml</parameters>
          <parameters>$(find perseus_simulation)/config/ros2_control_sim.yaml</parameters>
        </plugin>
      </gazebo>
    </xacro:if>
  </xacro:macro>
</robot>
